.App {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

.records {
  margin: 10px;
}

.records_eId {
  margin: 10px;
}

.records_eName {
  margin: 10px;
}
